<md-list-item ng-class="secondary-button-padding" ng-if="category.child_count == 0" href="#/explores/{{category.id}}">
  <p style="margin-left: {{ category.level}}em">{{ category.name }}</p>
</md-list-item>
<md-list-item class="secondary-button-padding" ng-if="category.child_count > 0" ng-click="togglecategories(category)">
  <p style="margin-left: {{ category.level}}em">{{ category.name }}</p>
  <md-icon class="material-icons">
    <i class="material-icons">{{ category.expanded ? 'expand_less' : 'expand_more' }}</i>
  </md-icon>
</md-list-item>
<md-list ng-if="category.child_count" ng-show="category.expanded" style="padding: 0">
  <div ng-repeat="category in category.categories" ng-include="'views/sidenav/tree.html'"></div>
</md-list>
